<a href="https://colab.research.google.com/github/data2450/House-pricing-prediction-with-Linear-regression-/blob/master/Feature_selection_on_H_P_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

## for feature slection

from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

# to visualise al the columns in the dataframe
pd.pandas.set_option('display.max_columns', None)

In [ ]:
#originaldataset
target=pd.read_csv('/content/drive/My Drive/Colab Notebooks/houseprice train.csv')

In [ ]:
#featured dataset
dataset=pd.read_csv('/content/drive/My Drive/Colab Notebooks/X_train.csv')

In [ ]:
dataset.head()

,Id,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,LotFrontagenan,MasVnrAreanan,GarageYrBltnan
0,1,12.247694,0.235294,0.75,0.418208,0.366344,1.0,1.0,0.000000,0.333333,1.0,0.00,0.0,0.636364,0.4,1.0,0.75,1.0,0.666667,0.500,0.036765,0.098361,0.0,0.0,1.0,1.0,0.50,0.12250,0.666667,1.0,1.00,0.75,0.75,0.25,1.000000,0.125089,0.833333,0.0,0.064212,0.140098,1.0,1.00,1.0,1.0,0.356155,0.413559,0.0,0.577712,0.333333,0.0,0.666667,0.5,0.375,0.333333,0.666667,0.500000,1.0,0.000000,0.2,0.8,0.046729,0.666667,0.50,0.386460,0.666667,1.0,1.0,0.000000,0.111517,0.000000,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.090909,0.50,0.666667,0.75,0.0,0.0,0.0
1,2,12.109011,0.000000,0.75,0.495064,0.391317,1.0,1.0,0.000000,0.333333,1.0,0.50,0.0,0.500000,0.2,1.0,0.75,0.6,0.555556,0.875,0.227941,0.524590,0.0,0.0,0.4,0.3,0.25,0.00000,0.333333,1.0,0.50,0.75,0.75,1.00,0.666667,0.173281,0.833333,0.0,0.121575,0.206547,1.0,1.00,1.0,1.0,0.503056,0.000000,0.0,0.470245,0.000000,0.5,0.666667,0.0,0.375,0.333333,0.333333,0.333333,1.0,0.333333,0.6,0.8,0.289720,0.666667,0.50,0.324401,0.666667,1.0,1.0,0.347725,0.000000,0.000000,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.363636,0.25,0.666667,0.75,0.0,0.0,0.0
2,3,12.317167,0.235294,0.75,0.434909,0.422359,1.0,1.0,0.333333,0.333333,1.0,0.00,0.0,0.636364,0.4,1.0,0.75,1.0,0.666667,0.500,0.051471,0.114754,0.0,0.0,1.0,1.0,0.50,0.10125,0.666667,1.0,1.00,0.75,0.75,0.50,1.000000,0.086109,0.833333,0.0,0.185788,0.150573,1.0,1.00,1.0,1.0,0.383441,0.419370,0.0,0.593095,0.333333,0.0,0.666667,0.5,0.375,0.333333,0.666667,0.333333,1.0,0.333333,0.6,0.8,0.065421,0.666667,0.50,0.428773,0.666667,1.0,1.0,0.000000,0.076782,0.000000,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.727273,0.50,0.666667,0.75,0.0,0.0,0.0
3,4,11.849398,0.294118,0.75,0.388581,0.390295,1.0,1.0,0.333333,0.333333,1.0,0.25,0.0,0.727273,0.4,1.0,0.75,1.0,0.666667,0.500,0.669118,0.606557,0.0,0.0,0.2,0.4,0.25,0.00000,0.333333,1.0,0.25,0.50,1.00,0.25,0.666667,0.038271,0.833333,0.0,0.231164,0.123732,1.0,0.75,1.0,1.0,0.399941,0.366102,0.0,0.579157,0.333333,0.0,0.333333,0.0,0.375,0.333333,0.666667,0.416667,1.0,0.333333,0.8,0.4,0.074766,0.333333,0.75,0.452750,0.666667,1.0,1.0,0.000000,0.063985,0.492754,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.090909,0.00,0.666667,0.00,0.0,0.0,0.0
4,5,12.429216,0.235294,0.75,0.513123,0.468761,1.0,1.0,0.333333,0.333333,1.0,0.50,0.0,1.000000,0.4,1.0,0.75,1.0,0.777778,0.500,0.058824,0.147541,0.0,0.0,1.0,1.0,0.50,0.21875,0.666667,1.0,1.00,0.75,0.75,0.75,1.000000,0.116052,0.833333,0.0,0.209760,0.187398,1.0,1.00,1.0,1.0,0.466237,0.509927,0.0,0.666523,0.333333,0.0,0.666667,0.5,0.500,0.333333,0.666667,0.583333,1.0,0.333333,0.6,0.8,0.074766,0.666667,0.75,0.589563,0.666667,1.0,1.0,0.224037,0.153565,0.000000,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.000000,0.50,0.666667,0.75,0.0,0.0,0.0

In [ ]:
#capture the dependent feature
#original saleprice
y1_train=target['SalePrice']

In [ ]:
y1_train.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [ ]:
#featured salesprice
y_train=dataset['SalePrice']

In [ ]:
y_train.head()

0    12.247694
1    12.109011
2    12.317167
3    11.849398
4    12.429216
Name: SalePrice, dtype: float64

In [ ]:
##drop the dependent features from dataset
X_train=dataset.drop(['Id','SalePrice'],axis=1)

In [ ]:
### Apply Feature Selection
# first, I specify the Lasso Regression model, and I
# select a suitable alpha (equivalent of penalty).
# The bigger the alpha the less features that will be selected.

# Then I use the selectFromModel object from sklearn, which
# will select the features which coefficients are non-zero

feature_sel_model = SelectFromModel(Lasso(alpha=0.005, random_state=0)) # remember to set the seed, the random state in this function
feature_sel_model.fit(X_train, y_train)

SelectFromModel(estimator=Lasso(alpha=0.005, copy_X=True, fit_intercept=True,
                                max_iter=1000, normalize=False, positive=False,
                                precompute=False, random_state=0,
                                selection='cyclic', tol=0.0001,
                                warm_start=False),
                max_features=None, norm_order=1, prefit=False, threshold=None)

In [ ]:
feature_sel_model.get_support()

array([ True,  True, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False,  True, False,
       False,  True,  True, False, False, False, False, False, False,
       False, False,  True, False,  True, False, False, False, False,
       False, False, False,  True,  True, False,  True, False, False,
        True,  True, False, False, False, False, False,  True, False,
       False,  True,  True,  True, False,  True,  True, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False])

In [ ]:
# let's print the number of total and selected features

# this is how we can make a list of the selected features
selected_feat = X_train.columns[(feature_sel_model.get_support())]

# let's print some stats
print('total features: {}'.format((X_train.shape[1])))
print('selected features: {}'.format(len(selected_feat)))
print('features with coefficients shrank to zero: {}'.format(
    np.sum(feature_sel_model.estimator_.coef_ == 0)))

total features: 82
selected features: 21
features with coefficients shrank to zero: 61

In [ ]:
selected_feat

Index(['MSSubClass', 'MSZoning', 'Neighborhood', 'OverallQual', 'YearRemodAdd',
       'RoofStyle', 'BsmtQual', 'BsmtExposure', 'HeatingQC', 'CentralAir',
       '1stFlrSF', 'GrLivArea', 'BsmtFullBath', 'KitchenQual', 'Fireplaces',
       'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageCars', 'PavedDrive',
       'SaleCondition'],
      dtype='object')

In [ ]:
X_train=X_train[selected_feat]

In [ ]:
X_train.head()

,MSSubClass,MSZoning,Neighborhood,OverallQual,YearRemodAdd,RoofStyle,BsmtQual,BsmtExposure,HeatingQC,CentralAir,1stFlrSF,GrLivArea,BsmtFullBath,KitchenQual,Fireplaces,FireplaceQu,GarageType,GarageFinish,GarageCars,PavedDrive,SaleCondition
0,0.235294,0.75,0.636364,0.666667,0.098361,0.0,0.75,0.25,1.00,1.0,0.356155,0.577712,0.333333,0.666667,0.000000,0.2,0.8,0.666667,0.50,1.0,0.75
1,0.000000,0.75,0.500000,0.555556,0.524590,0.0,0.75,1.00,1.00,1.0,0.503056,0.470245,0.000000,0.333333,0.333333,0.6,0.8,0.666667,0.50,1.0,0.75
2,0.235294,0.75,0.636364,0.666667,0.114754,0.0,0.75,0.50,1.00,1.0,0.383441,0.593095,0.333333,0.666667,0.333333,0.6,0.8,0.666667,0.50,1.0,0.75
3,0.294118,0.75,0.727273,0.666667,0.606557,0.0,0.50,0.25,0.75,1.0,0.399941,0.579157,0.333333,0.666667,0.333333,0.8,0.4,0.333333,0.75,1.0,0.00
4,0.235294,0.75,1.000000,0.777778,0.147541,0.0,0.75,0.75,1.00,1.0,0.466237,0.666523,0.333333,0.666667,0.333333,0.6,0.8,0.666667,0.75,1.0,0.75

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1460 non-null   float64
 1   MSZoning       1460 non-null   float64
 2   Neighborhood   1460 non-null   float64
 3   OverallQual    1460 non-null   float64
 4   YearRemodAdd   1460 non-null   float64
 5   RoofStyle      1460 non-null   float64
 6   BsmtQual       1460 non-null   float64
 7   BsmtExposure   1460 non-null   float64
 8   HeatingQC      1460 non-null   float64
 9   CentralAir     1460 non-null   float64
 10  1stFlrSF       1460 non-null   float64
 11  GrLivArea      1460 non-null   float64
 12  BsmtFullBath   1460 non-null   float64
 13  KitchenQual    1460 non-null   float64
 14  Fireplaces     1460 non-null   float64
 15  FireplaceQu    1460 non-null   float64
 16  GarageType     1460 non-null   float64
 17  GarageFinish   1460 non-null   float64
 18  GarageCars     1460 non-null   float64
 19  PavedDrive     1460 non-null   float64
 20  SaleCondition  1460 non-null   float64
dtypes: float64(21)
memory usage: 239.7 KB

In [ ]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [ ]:
regressor=LinearRegression()
regressor.fit(X_train,y1_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
print('linear model coeff (w): {}'
     .format(regressor.coef_))

print('R-squared score (training): {:.3f}'
     .format(regressor.score(X_train, y1_train)))
print( 'linear model intercept (b): {}'.format(regressor.intercept_))

linear model coeff (w): [-3.30769312e+04 -8.75854654e+03  5.51668569e+04  1.15429206e+05
  7.38127388e+02  1.14387374e+04  2.75737967e+04  3.05704295e+04
  4.05595741e+03 -2.14878007e+03  2.50640917e+04  2.04921227e+05
  3.32122430e+04  4.60815705e+04  1.90952032e+04  1.59299068e+03
 -1.45528197e+04  3.11176250e+03  3.48707426e+04  6.41109127e+01
  1.70084684e+04]
R-squared score (training): 0.813
linear model intercept (b): -101292.17887034998

In [ ]:
#x_test1=pd.read_csv('/content/drive/My Drive/Colab Notebooks/X_Train n.csv')

In [ ]:
X_test=pd.read_csv('/content/drive/My Drive/Colab Notebooks/X_Train n.csv')

In [ ]:
X_test=X_test[['MSSubClass', 'MSZoning', 'Neighborhood', 'OverallQual', 'YearRemodAdd',
       'RoofStyle', 'BsmtQual', 'BsmtExposure', 'HeatingQC', 'CentralAir',
       '1stFlrSF', 'GrLivArea', 'BsmtFullBath', 'KitchenQual', 'Fireplaces',
       'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageCars', 'PavedDrive',
       'SaleCondition']]

In [ ]:
X_test.head()

,MSSubClass,MSZoning,Neighborhood,OverallQual,YearRemodAdd,RoofStyle,BsmtQual,BsmtExposure,HeatingQC,CentralAir,1stFlrSF,GrLivArea,BsmtFullBath,KitchenQual,Fireplaces,FireplaceQu,GarageType,GarageFinish,GarageCars,PavedDrive,SaleCondition
0,0.000000,0.25,0.45,0.444444,0.822581,0.5,0.75,0.0,0.25,0.0,0.312253,0.312253,0.0,0.75,0.00,0.6,0.333333,0.666667,0.2,0.5,0.0
1,0.000000,0.50,0.45,0.555556,0.870968,0.0,0.75,0.0,0.25,0.0,0.468253,0.468253,0.0,0.50,0.00,0.6,0.333333,0.666667,0.2,0.5,0.0
2,0.235294,0.50,0.00,0.444444,0.225806,0.5,0.25,0.0,0.75,0.0,0.326139,0.548792,0.0,0.75,0.25,0.2,0.333333,0.000000,0.4,0.5,0.0
3,0.235294,0.50,0.00,0.555556,0.225806,0.5,0.75,0.0,0.00,0.0,0.325285,0.542672,0.0,0.50,0.25,0.0,0.333333,0.000000,0.4,0.5,0.0
4,0.588235,0.50,0.55,0.777778,0.322581,0.5,0.25,0.0,0.00,0.0,0.453388,0.453388,0.0,0.50,0.00,0.6,0.333333,0.333333,0.4,0.5,0.0

In [ ]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1459 non-null   float64
 1   MSZoning       1459 non-null   float64
 2   Neighborhood   1459 non-null   float64
 3   OverallQual    1459 non-null   float64
 4   YearRemodAdd   1459 non-null   float64
 5   RoofStyle      1459 non-null   float64
 6   BsmtQual       1459 non-null   float64
 7   BsmtExposure   1459 non-null   float64
 8   HeatingQC      1459 non-null   float64
 9   CentralAir     1459 non-null   float64
 10  1stFlrSF       1459 non-null   float64
 11  GrLivArea      1459 non-null   float64
 12  BsmtFullBath   1459 non-null   float64
 13  KitchenQual    1459 non-null   float64
 14  Fireplaces     1459 non-null   float64
 15  FireplaceQu    1459 non-null   float64
 16  GarageType     1459 non-null   float64
 17  GarageFinish   1459 non-null   float64
 18  GarageCars     1459 non-null   float64
 19  PavedDrive     1459 non-null   float64
 20  SaleCondition  1459 non-null   float64
dtypes: float64(21)
memory usage: 239.5 KB

In [ ]:
X_test['GarageCars'].value_counts()

0.4    770
0.2    407
0.6    193
0.0     76
0.8     11
1.0      1
Name: GarageCars, dtype: int64

In [ ]:
y_pred=list(regressor.predict(X_test))

In [ ]:
y_predication=pd.DataFrame(y_pred)

In [ ]:
y_predication=np.round(y_predication[0],0)

In [ ]:
y_predication=pd.DataFrame(y_predication)

In [ ]:
y_predication.head()

          0
0  112226.0
1  141536.0
2  123086.0
3  133542.0
4  146278.0

In [ ]:
y_predication.columns=['SalePrice']

In [ ]:
id=x_test1['Id']

In [ ]:
s=pd.merge(y_predication,id,left_index=True,right_index=True)

In [ ]:
s

      SalePrice    Id
0      112226.0  1461
1      141536.0  1462
2      123086.0  1463
3      133542.0  1464
4      146278.0  1465
...         ...   ...
1454   100338.0  2915
1455   110325.0  2916
1456   178998.0  2917
1457   116340.0  2918
1458   231552.0  2919

[1459 rows x 2 columns]

In [ ]:
column_titles=['Id','SalePrice']

In [ ]:
df=s.reindex(columns=column_titles)

In [ ]:
df.head()

     Id  SalePrice
0  1461   112226.0
1  1462   141536.0
2  1463   123086.0
3  1464   133542.0
4  1465   146278.0

In [ ]:
df.shape
#y_predication.head()

(1459, 2)

In [ ]:
#y_predication.shape

(1459, 1)

In [ ]:
df.to_csv('submission.csv',index=False)